<% layout('./boilerplate') %>

    <!-- <div>
        <div class="container-fluid">
            <div class="col">
                <div class="d-flex align-items-center">
                    <h1>Grocery. <br> At your door.</h1>
                </div>
            </div>
            <div class="card text-bg-dark text-center">
                <div class="fixed-resolution">
                    <img src="https://images.unsplash.com/photo-1617847558661-0475f0a0d3a0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDQ0fEZ6bzN6dU9ITjZ3fHxlbnwwfHx8fHw%3D"
                        class="card-img" alt="...">
                </div>
                <div class="card-img-overlay">
                    <h5 class="card-title">
                        <h1>TravelMore</h1>
                    </h5>
                    <p class="card-text">Travel Anywhere. Anytime</p>
                    <p class="card-text"><small>As smoothly as butter.</small></p>
                    <button type="button" class="btn btn-outline-light">Light</button>
                    <button type="button" class="btn btn-outline-dark">Dark</button>
                </div>
            </div>
        </div>
    </div> -->

    <div class="container">
        <div class="row justify-content-around">
            <div class="col-6">
                <div class="row d-flex align-items-center mt-5">
                    <h1>Grocery <br> Swift deliveries, No cost.</h1>
                </div>
                <button type="button" class="btn btn-outline-primary mt-3">Primary</button>
                <button type="button" class="btn btn-outline-dark mt-3 px-4">Dark</button>
            </div>
            <div class="col-6">
                <img style="border-radius: 15%;" src="https://images.unsplash.com/photo-1548695607-9c73430ba065?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8ZGVsaXZlcnl8ZW58MHx8MHx8fDA%3D"
                    class="img-fluid hero-image" alt="...">
            </div>
        </div>

    </div>