<% layout('./boilerplate') %>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex align-items-center">
                    <h1>Grocery. <br> At your door.</h1>
                </div>
            </div>
            <div class="col">
                <img src="/img/black-friday-elements-assortment.png" alt="">
            </div>
        </div>
    </div>