<% layout('./boilerplate') %>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Grocery. <br> At your door.</h1>
            </div>
        </div>
    </div>